@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-pagination-bullet{
background: #FFFFFF !important;
opacity: 1 !important;

}

.swiper-pagination-bullet.swiper-pagination-bullet-active{

width: 16px;
height: 16px;
border: 1px solid #FFFFFF;
background: transparent !important;
}


